<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dungeons and Dragons</title>
        <link rel="stylesheet" href="../../static/main/style.css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <h1 class="title">Dungeons and Dragons</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'en_index' %}">Home</a></li>
                    <li><a href="{% url 'en_blog' %}">Blog</a></li>
                    <li><a href="{% url 'en_download' %}">Download</a></li>
                    <li><a href="{% url 'en_contact' %}">Contact</a></li>
                    <li><a href="../admin/login">Login</a></li>
                    <li><a href="{% url 'index' %}">🇫🇷</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <h2>Dungeons and Dragons</h2>
            <p>More than a game, an immersion!<br/><br/>
                <a class="btn" href="{% url 'download' %}">Download the game for free</a>
            </p>
            <div class="image">
                <img src="http://assets.stickpng.com/images/5a01ee8118e87004f1ca4317.png" alt="Dragons">
            </div>
        </div>
</div>
</body>
</html>