<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Notre Blog</title>
        <link rel="stylesheet" href="../../static/main/style.css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <h1 class="title">Donjons et Dragons</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'download' %}">Téléchargement</a></li>
                    <li><a href="{% url 'contact' %}">Nous contacter</a></li>
                    <li><a href="../admin/login">Se connecter</a></li>
                    <li><a href="{% url 'en_index' %}">🇬🇧</a></li>
                </ul>
            </nav>
        </div>
    <div class="content">
        <h1 class="title-of-content">Notre Blog</h1>
        {% block content %}
            {% if post %}
                 {% for posts in post %}
                    <h2>{{ posts.title }} by <i>{{ posts.author }}</i></h2>
                    <p>Date de publication : {{ posts.date }}<br/><br/>
                        <a href="{% url 'article' posts.url %}">En savoir +</a>
                    </p>
                {% endfor %}
            {% else %}
                <p>Aucun article n'a été publié</p>
            {% endif %}
        {% endblock %}
    </div>
</div>
</body>
</html>