<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Téléchargement</title>
        <link rel="stylesheet" href="../../static/main/style.css"/>
        <meta charset="utf-8"/>
    </head>
    <body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <h1 class="title">Donjons et Dragons</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Accueil</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'download' %}">Téléchargement</a></li>
                    <li><a href="{% url 'contact' %}">Nous contacter</a></li>
                    <li><a href="../admin/login">Se connecter</a></li>
                    <li><a href="{% url 'en_index' %}">🇬🇧</a></li>
                </ul>
            </nav>
        </div>
    <div class="content">
        <h1 class="title-of-content">Téléchargement</h1>
        <h2>Donjons & Dragons (The Game) - Last Update : June 13, 2022</h2>
        <p><a href="https://github.com/sacha-layani/Donjons-Et-Dragons/releases/download/v1.0.0/setup.msi">Télécharger</a></p>
    </div>
</div>
</body>
</html>